---
layout: page
title: Vertices Network - Blog
permalink: /blog/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Our story</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-md-2 col-sm-2">
  </div>
  <div class="col-md-8 col-sm-8">
    <p>
      Having worked on Internet of Things devices for a few years when Blockchain technologies popped up,
      I quickly envisioned new use cases with the two complementary technologies. Simply put:
    </p>
    <blockquote>Authenticated data can now be publicly shared in a trusted manner.</blockquote>
    <p>
      No more siloed data hidden in companies' private servers.
    </p>
    <p>
      In order to authenticate the data, we needed to implement a lightweight wallet running on the connected device,
      and we were a few people and companies working toward this goal.
      One of them, Ted, has been working on a wallet running on Arduino devices and connected to the Algorand blockchain
      while I, Cyril, developped a Rust library to connect IoT devices to
      Substrate-based blockchains.
      We ended up creating this project known as Vertices Network along with Marc, one of Ted's friends, to help on the
      web aspect.
    </p>
    <p>
      Thanks to Ted being part of the Encode program, we decided to work on an IoT wallet connected to the
      Algorand blockchain. Algorand has the benefits of being very cheap to use, very fast,
      and can embed data in its transaction payload making it a great choice for IoT devices.
    </p>
    <p>
      We received a grant from the Algorand Foundation to develop the <a
        href="https://github.com/vertices-network/c-vertices-sdk">Vertices SDK</a> a flexible and
      lightweight library that removes the hassle of interacting with the Algorand blockchain. The project went
      well and we released the SDK with its documentation within a few months. We thought about raising money but
      quickly realized how difficult it would be to sell this technology for a few reasons: the market is slowly
      migrating towards blockchain technologies and finance, not the IoT market, is to be the first to declutter the
      usage of blockchains. Moreover, the smart-contract support on Algorand were a bit immature compared to the
      industry-leading actors such as Ethereum. However, we proved that constrained devices can interact with the
      blockchains in a secure way.
    </p>
    <p>
      Later, Ted and Marc decided to enter the finance market and created ExaFinance while I, Cyril, continued
      working on electronic devices for companies in the blockchain industry.
    </p>
    <p>
      Vertices Network, the company, was born.
    </p>
    <blockquote>
      We are a service company designing blockchain-backed IoT devices.
    </blockquote>
    <p class="col-md-7 col-sm-7"></p>
    <p class="col-md-5 col-sm-5" style="text-align: center; font-size: 2em">
      Cyril Fougeray<br />
      <img src="../img/signature.png" alt="signature" height="140px">
    </p>
  </div>
  <div class="col-md-2 col-sm-2">
  </div>
</div>

<!-- {% for post in site.posts %}
<div class="row">  
<div  class="col-md-3">
  &nbsp;
</div>
<div class="post-area col-md-6">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }} - 
    
    {% for tag in post.meta %}
    <span class="{{ tag.class }}">{{ tag.title }}</span>
    {% endfor %}
  </p>
  <p>
    {{ post.description }}
  </p>
</div>
<div  class="col-md-3">
  &nbsp;
</div>
</div>
{% endfor %} -->